<header class="header ff-inter">
  <div class="logo">
  <span>
  <a>
  <img  src="../../../../assets/imagens/Desktop/Logo-desktop.png" alt="logo da loja Meteora" />
  </a>
  </span>
  </div>
  <div class="menu">
  <a class="active" href="#home">Home</a>
  <a href="#lojas">Nossas lojas</a>
  <a href="#Novidades">Novidades</a>
  <a href="#prommocao">Promoções</a>
  </div>
  <div class="search">
  <input class="input-search" type="text" name= "search" placeholder="Digite o produto">
  <button class="bt-search" type="submit">Buscar</button>
  </div>

</header>
