<section class="container">
  <h3>Conheça todas as nossas facilidades</h3>

  <div class="container-card">
  
      <img src="../../../../assets/imagens/Desktop/Icones/x-diamond.png" alt="x diamond">  
      <div class="card-text">
        <h6>PAGUE PELO PIX</h6>
        <p>Ganhe 5% OFF em <br>
          pagamentos via PIX</p>
      </div>
 
  
    <img src="../../../../assets/imagens/Desktop/Icones/arrow-repeat.png" alt="setas de repeticao">
   
    <div class="card-text">
      <h6>TROCA GRÁTIS</h6>

      <p>Fique livre para trocar em até <br>30 dias.</p>
</div>
 

    
      <img src="../../../../assets/imagens/Desktop/Icones/arrow-repeat.png" alt="setas de repeticao">
      <div class="card-text">
        <h6>SUSTENTABILIDADE</h6>

        <p>Moda responsável, que respeita <br> o meio ambiente.</p>
      </div>

  </div>
</section>