<section class= "carousel">
<ngb-carousel >
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../../assets/imagens/Desktop/Banner-carousel1_1440.png" alt="fundo roxo com uma mulher encostada na parede" />
		</div>
		
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
      <img src="../../../../assets/imagens/Desktop/Banner-carousel2_1440.png" alt="fundo rosa com uma mulher preta sentada no sofa com a mão na cabeça " />
		</div>
    <div class="carousel-caption ff-inter">
      <h3>COLEÇÃO ATEMPORAL</h3>
      <p>Estilo e qualidade para durar.</p>
    </div>
		
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
      <img src="../../../../assets/imagens/Desktop/Banner-carousel3_1440.png" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>COLEÇÃO ATEMPORAL</h3>
			<p>Alto impacto visual, baixo impacto ambiental!</p>
		</div>
	</ng-template>
</ngb-carousel>
</section>