<section class="container">

  <h3>Produtos que estão bombando!</h3>
  
  <div class="container-card">

    <div class="card" >
      <img class="card-img-top" src="../../../../assets/imagens/Desktop/ImagensCards/camiseta.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Camiseta Conforto</h4>
        <p class="card-text">Multicores e tamanhos. Tecido de algodão 100%, fresquinho para o verão. Modelagem unissex.</p>
        <h4>R$ 70,00</h4>
        <a href="#" class="btn btn-primary">Ver mais</a>
      </div>
    </div>
      
  <div class="card" >
    <img class="card-img-top" src="../../../../assets/imagens/Desktop/ImagensCards/calca.png" alt="Card image"
      style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Calça Alfaiataria</h4>
      <p class="card-text">Modelo Wide Leg alfaiataria em linho. Uma peça pra vida toda!</p>
      <h4>R$ 180,00</h4>
      <a href="#" class="btn btn-primary">Ver mais</a>
    </div>
  </div>
  <br>
  <div class="card">
    <img class="card-img-top" src="../../../../assets/imagens/Desktop/ImagensCards/tenis.png" alt="Tênis Chunky"
      style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Tênis Chunky</h4>
      <p class="card-text">Snicker casual com solado mais alto e modelagem robusta. Modelo unissex.</p>
      <h4>R$ 250,00</h4>
      <a href="#" class="btn btn-primary">Ver mais</a>
    </div>
  </div>
  <br>
<!--segunda linha-->
<div class="card" >
  <img class="card-img-top" src="../../../../assets/imagens/Desktop/ImagensCards/jaqueta.png" alt="Homem negro de gorro preto e veste Jaqueta Jeans"
    style="width:100%">
  <div class="card-body">
    <h4 class="card-title">Jaqueta Jeans</h4>
    <p class="card-text">Modelo unissex oversized com gola de camurça. Atemporal e autêntica!</p>
    <h4>R$ 150,00</h4>
    <a href="#" class="btn">Ver mais</a>
  </div>
</div>
<div class="card" >
  <img class="card-img-top" src="../../../../assets/imagens/Desktop/ImagensCards/oculos.png" alt="homem negro de cabelo louro e óculos redondo"
    style="width:100%">
  <div class="card-body">
    <h4 class="card-title">Óculos Redondo</h4>
    <p class="card-text">Armação metálica em grafite com lentes arredondadas. Sem erro!</p>
    <h4>R$ 120,00</h4>
    <a href="#" class="btn">Ver mais</a>
  </div>
</div>

<div class="card" >
  <img class="card-img-top" src="../../../../assets/imagens/Desktop/ImagensCards/bolsa.png" alt="Tênis Chunky"
    style="width:100%">
  <div class="card-body">
    <h4 class="card-title">Bolsa coringa</h4>
    <p class="card-text">Bolsa camel em couro sintético de alta duração. Ideal para acompanhar você por uma vida!</p>
    <h4>R$ 120,00</h4>
    <a href="#" class="btn btn-primary">Ver mais</a>
  </div>
</div>
 
  </div>
</section>