<section class="container">

    <h3>Busque por categoria:</h3>
  
  
  <div class="container-card">
   <!--camiseta-->
  <div class="card">
    <img src="../../../../assets/imagens/Desktop/Categorias/categoria-camiseta.png" alt="Camiseta" style="width:100%">
    <div class="card-text">
      <p>Camisetas</p>
    </div>
  </div>
  <!--Bolsa-->
  <div class="card">
    <img src="../../../../assets/imagens/Desktop/Categorias/categoria-bolsa.png" alt="Bolsas" style="width:100%">
    <div class="card-text">
      <p>Bolsas</p>
    </div>
  </div>
  <!--Calçados-->
  <div class="card">
    <img src="../../../../assets/imagens/Desktop/Categorias/categoria-calcados.png" alt="Calçados" style="width:100%">
    <div class="card-text">
      <p>Calçados</p>
    </div>
  </div>
  <!--Calças-->
  <div class="card">
    <img src="../../../../assets/imagens/Desktop/Categorias/categoria-calca.png" alt="Calças" style="width:100%">
    <div class="card-text">
      <p>Calças</p>
    </div>
  </div>
  <!--Casacos-->
  <div class="card">
    <img src="../../../../assets/imagens/Desktop/Categorias/categoria-casacos.png" alt="Casacos" style="width:100%">
    <div class="card-text">
      <p>Casacos</p>
    </div>
  </div>
  <!--Óculos-->
  <div class="card">
    <img src="../../../../assets/imagens/Desktop/Categorias/categoria-oculos.png" alt="Óculos" style="width:100%">
    <div class="card-text">
      <p>Óculos</p>
    </div>
  </div>
  </div>
</section>